PC/SmartGeiger-Node-RED.json
[{"id":"59ed23c.6be93dc","type":"tab","label":"SmartGeiger","disabled":false,"info":""},{"id":"daf24a0a.0d1ed","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"5ae0efac.11b6d","type":"ui_group","name":"Gauge","tab":"78c67019.878288","order":1,"disp":false,"width":"9","collapse":false},{"id":"78c67019.878288","type":"ui_tab","name":"SmartGeiger","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"302bcdb6.eef782","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"SmartGeiger","hideToolbar":"true","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"d588a38f.2e627","type":"mqtt-broker","name":"ATC","broker":"192.168.1.100","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"127e9b8.6bfbc65","type":"ui_spacer","name":"spacer","group":"","order":4,"width":6,"height":1},{"id":"2cf934a1.e66ccc","type":"ui_spacer","name":"spacer","group":"","order":5,"width":5,"height":1},{"id":"b6993336.d9585","type":"ui_spacer","name":"spacer","group":"","order":6,"width":6,"height":1},{"id":"4c2e05ad.50703c","type":"ui_spacer","name":"spacer","group":"","order":4,"width":5,"height":1},{"id":"ef94482a.5673a8","type":"ui_spacer","name":"spacer","group":"","order":5,"width":5,"height":1},{"id":"b99e5875.207a88","type":"ui_group","name":"Configuration ","tab":"78c67019.878288","order":5,"disp":false,"width":"8","collapse":false},{"id":"b0c1558c.39be08","type":"ui_group","name":"Chart","tab":"78c67019.878288","order":2,"disp":false,"width":"15","collapse":false},{"id":"912c465f.648288","type":"ui_group","name":"Data","tab":"78c67019.878288","order":3,"disp":true,"width":"9","collapse":false},{"id":"a22c8e13.1998d","type":"ui_group","name":"Management ","tab":"78c67019.878288","order":4,"disp":true,"width":"7","collapse":false},{"id":"6312303e.b7d53","type":"mqtt in","z":"59ed23c.6be93dc","name":"","topic":"cpm","qos":"2","datatype":"auto","broker":"daf24a0a.0d1ed","x":180,"y":220,"wires":[["4029684e.37479","e88040ec.b8f3c"]]},{"id":"ac41690d.879e7","type":"mqtt in","z":"59ed23c.6be93dc","name":"Time difference ","topic":"delta-t","qos":"2","datatype":"auto","broker":"daf24a0a.0d1ed","x":200,"y":380,"wires":[["c5cc2db4.ff1f4"]]},{"id":"4029684e.37479","type":"ui_chart","z":"59ed23c.6be93dc","name":"CPM chart","group":"b0c1558c.39be08","order":1,"width":15,"height":"7","label":"Counts Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"500","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":430,"y":320,"wires":[[]],"inputLabels":["payload"]},{"id":"3a3fb639.8a1c0a","type":"mqtt in","z":"59ed23c.6be93dc","name":"Total counts","topic":"total-counts","qos":"2","datatype":"auto","broker":"daf24a0a.0d1ed","x":170,"y":80,"wires":[["deff7b4c.8749c8"]]},{"id":"26485470.2d74ec","type":"mqtt in","z":"59ed23c.6be93dc","name":"Dose rate","topic":"usv","qos":"2","datatype":"auto","broker":"daf24a0a.0d1ed","x":180,"y":140,"wires":[["84145008.c0313"]]},{"id":"69f24325.f4037c","type":"mqtt in","z":"59ed23c.6be93dc","name":"Distance","topic":"distance","qos":"2","datatype":"auto","broker":"d588a38f.2e627","x":180,"y":320,"wires":[["d5cbe403.b0c238"]]},{"id":"b68ab14b.47a4a","type":"mqtt in","z":"59ed23c.6be93dc","name":"Machine temperature ","topic":"temperature","qos":"2","datatype":"auto","broker":"d588a38f.2e627","x":620,"y":320,"wires":[["d43c9e2.b8df06"]]},{"id":"deff7b4c.8749c8","type":"ui_text","z":"59ed23c.6be93dc","group":"912c465f.648288","order":3,"width":9,"height":1,"name":"","label":"Total Counts","format":"{{msg.payload}}","layout":"row-spread","x":380,"y":80,"wires":[]},{"id":"84145008.c0313","type":"ui_gauge","z":"59ed23c.6be93dc","name":"","group":"5ae0efac.11b6d","order":1,"width":9,"height":"6","gtype":"gage","title":"Dose Rate","label":"uSv/h","format":"{{value}}","min":0,"max":"0.57","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":400,"y":140,"wires":[]},{"id":"d5cbe403.b0c238","type":"ui_text","z":"59ed23c.6be93dc","group":"912c465f.648288","order":7,"width":9,"height":1,"name":"","label":"Source Distance","format":"{{msg.payload}} cm","layout":"row-spread","x":430,"y":280,"wires":[]},{"id":"e88040ec.b8f3c","type":"ui_text","z":"59ed23c.6be93dc","group":"912c465f.648288","order":2,"width":9,"height":"1","name":"","label":"Counts per minute ","format":"{{msg.payload}}","layout":"row-spread","x":440,"y":220,"wires":[]},{"id":"d43c9e2.b8df06","type":"ui_text","z":"59ed23c.6be93dc","group":"a22c8e13.1998d","order":7,"width":"0","height":"0","name":"","label":"Temperature ","format":"{{msg.payload}} ℃","layout":"row-spread","x":730,"y":380,"wires":[]},{"id":"c5cc2db4.ff1f4","type":"ui_text","z":"59ed23c.6be93dc","group":"912c465f.648288","order":6,"width":9,"height":1,"name":"","label":"Time difference","format":"{{msg.payload}} ms","layout":"row-spread","x":440,"y":400,"wires":[]},{"id":"7a55bfc0.e723d","type":"ui_switch","z":"59ed23c.6be93dc","name":"","label":"Buzzer","tooltip":"","group":"b99e5875.207a88","order":6,"width":"0","height":"0","passthru":true,"decouple":"false","topic":"buzzer","topicType":"str","style":"","onvalue":"true","onvalueType":"str","onicon":"check_box","oncolor":"green","offvalue":"false","offvalueType":"str","officon":"check_box_outline_blank","offcolor":"white","animate":true,"x":320,"y":620,"wires":[["d0d80b69.b06ad8","bd9de0cd.ec65"]]},{"id":"ea5b4c8f.0a562","type":"mqtt out","z":"59ed23c.6be93dc","name":"","topic":"smartgiger","qos":"2","retain":"false","broker":"daf24a0a.0d1ed","x":850,"y":760,"wires":[]},{"id":"44777c20.2a0124","type":"ui_switch","z":"59ed23c.6be93dc","name":"Sync","label":"Sync","tooltip":"Reboot required ","group":"b99e5875.207a88","order":1,"width":"0","height":"0","passthru":true,"decouple":"false","topic":"config_sync","topicType":"str","style":"","onvalue":"true","onvalueType":"str","onicon":"check_box","oncolor":"green","offvalue":"false","offvalueType":"str","officon":"check_box_outline_blank","offcolor":"red","animate":true,"x":310,"y":700,"wires":[["f1de607c.7a058","bd9de0cd.ec65"]]},{"id":"8826ff1f.671d9","type":"ui_switch","z":"59ed23c.6be93dc","name":"","label":"Cloud Sync","tooltip":"","group":"b99e5875.207a88","order":5,"width":"0","height":"0","passthru":true,"decouple":"false","topic":"cloud","topicType":"str","style":"","onvalue":"true","onvalueType":"str","onicon":"check_box","oncolor":"green","offvalue":"false","offvalueType":"str","officon":"check_box_outline_blank","offcolor":"white","animate":true,"x":330,"y":760,"wires":[["bd9de0cd.ec65","ffed3c29.51343"]]},{"id":"db3c662e.ffc9d8","type":"ui_switch","z":"59ed23c.6be93dc","name":"","label":"Local Sync","tooltip":"","group":"b99e5875.207a88","order":4,"width":"0","height":"0","passthru":true,"decouple":"false","topic":"local","topicType":"str","style":"","onvalue":"true","onvalueType":"str","onicon":"check_box","oncolor":"green","offvalue":"false","offvalueType":"str","officon":"check_box_outline_blank","offcolor":"yellow","animate":true,"x":330,"y":840,"wires":[["aff915bc.235958","bd9de0cd.ec65"]]},{"id":"435451cb.eb74","type":"ui_switch","z":"59ed23c.6be93dc","name":"","label":"Save Power","tooltip":"","group":"a22c8e13.1998d","order":7,"width":"0","height":"0","passthru":true,"decouple":"false","topic":"powersave","topicType":"str","style":"","onvalue":"true","onvalueType":"str","onicon":"check_box","oncolor":"yellow","offvalue":"false","offvalueType":"str","officon":"check_box_outline_blank","offcolor":"white","animate":true,"x":350,"y":1000,"wires":[["f5b3d9c6.6a6328","a61abf74.dd5f5"]]},{"id":"f174cfbc.28745","type":"ui_switch","z":"59ed23c.6be93dc","name":"","label":"Massage alert ","tooltip":"","group":"b99e5875.207a88","order":10,"width":"0","height":"0","passthru":true,"decouple":"false","topic":"msg_alert","topicType":"str","style":"","onvalue":"true","onvalueType":"str","onicon":"check_box","oncolor":"green","offvalue":"false","offvalueType":"str","officon":"check_box_outline_blank","offcolor":"yellow","animate":true,"x":340,"y":900,"wires":[["a9c833f5.cdce7","bd9de0cd.ec65"]]},{"id":"bd9de0cd.ec65","type":"join","z":"59ed23c.6be93dc","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":true,"timeout":"0","count":"9","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":730,"y":840,"wires":[["ea5b4c8f.0a562","ab465874.16a658"]]},{"id":"d0d80b69.b06ad8","type":"change","z":"59ed23c.6be93dc","name":"","rules":[{"t":"set","p":"buzzer","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":500,"wires":[[]]},{"id":"f1de607c.7a058","type":"change","z":"59ed23c.6be93dc","name":"","rules":[{"t":"set","p":"config_sync","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":540,"wires":[[]]},{"id":"aff915bc.235958","type":"change","z":"59ed23c.6be93dc","name":"","rules":[{"t":"set","p":"local","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":620,"wires":[[]]},{"id":"a9c833f5.cdce7","type":"change","z":"59ed23c.6be93dc","name":"","rules":[{"t":"set","p":"msg_alert","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":660,"wires":[[]]},{"id":"ffed3c29.51343","type":"change","z":"59ed23c.6be93dc","name":"","rules":[{"t":"set","p":"cloud","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":580,"wires":[[]]},{"id":"387f6174.28b92e","type":"inject","z":"59ed23c.6be93dc","name":"","props":[{"p":"payload"}],"repeat":"2","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"buzzer","payloadType":"global","x":120,"y":620,"wires":[["7a55bfc0.e723d"]]},{"id":"bc39da75.2c2fa8","type":"ui_switch","z":"59ed23c.6be93dc","name":"","label":"Auto boost","tooltip":"","group":"a22c8e13.1998d","order":8,"width":"0","height":"0","passthru":false,"decouple":"true","topic":"auto_freq","topicType":"str","style":"","onvalue":"true","onvalueType":"str","onicon":"check_box","oncolor":"green","offvalue":"false","offvalueType":"str","officon":"check_box_outline_blank","offcolor":"white","animate":true,"x":330,"y":1080,"wires":[["f5b3d9c6.6a6328"]]},{"id":"32d13658.d3b4da","type":"ui_switch","z":"59ed23c.6be93dc","name":"","label":"Max performance","tooltip":"","group":"a22c8e13.1998d","order":9,"width":"0","height":"0","passthru":false,"decouple":"true","topic":"max_freq","topicType":"str","style":"","onvalue":"true","onvalueType":"str","onicon":"check_box","oncolor":"orange","offvalue":"false","offvalueType":"str","officon":"check_box_outline_blank","offcolor":"white","animate":true,"x":350,"y":1140,"wires":[["f5b3d9c6.6a6328"]]},{"id":"f5b3d9c6.6a6328","type":"function","z":"59ed23c.6be93dc","name":"","func":"var powersave=context.get('powersave') ;\nvar auto_freq=context.get('auto_freq');\nvar max_freq=context.get('max_freq');\n\nif (powersave ==undefined || auto_freq ==undefined || max_freq ==undefined)\n{\n    powersave='false';\n    auto_freq='false';\n    max_freq='false';\n}\nvar topic=msg.topic;\nvar payload=msg.payload;\nvar msg1={}; //powersave state\nvar msg2={}; //auto_freq state\nvar msg3={}; //max_freq state \n\nif (topic== \"powersave\")\n{\n\npowersave=payload;\n}\n\nif(powersave=='true')\n{\n\nauto_freq='false';\nmax_freq='false';\nmsg1.payload=powersave;\nmsg2.payload=auto_freq;\nmsg3.payload=max_freq;\n\ncontext.set('powersave',powersave);\ncontext.set('auto_freq',auto_freq);\ncontext.set('max_freq',max_freq);\nreturn[msg1,msg2,msg3];\n}\n\n\n\nif(topic==\"auto_freq\")\n{\n    if (max_freq=='false')\n    {\n        auto_freq=payload;\n    }\n    else\n    {\n        auto_freq='false';\n    }\n\n}\n\nif(topic==\"max_freq\")\n{\n    if (auto_freq=='false')\n    {\n        max_freq=payload;\n\n    }\n    else\n    {\n      max_freq='false';\n    }\n\n}\ncontext.set('powersave',powersave);  \ncontext.set('auto_freq',auto_freq);  \ncontext.set('max_freq',max_freq);\nmsg1.payload=powersave;\nmsg2.payload=auto_freq;\nmsg3.payload=max_freq;\nreturn[msg1,msg2,msg3];","outputs":3,"noerr":0,"initialize":"","finalize":"","x":520,"y":1220,"wires":[["d5378693.316878"],["bc39da75.2c2fa8","70341884.89af88"],["32d13658.d3b4da","6c4d0f01.eb458"]]},{"id":"d5378693.316878","type":"change","z":"59ed23c.6be93dc","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"powersave","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":980,"wires":[["bd9de0cd.ec65"]]},{"id":"70341884.89af88","type":"change","z":"59ed23c.6be93dc","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"auto_freq","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":1020,"wires":[["bd9de0cd.ec65","5b2ac7df.70dd38"]]},{"id":"6c4d0f01.eb458","type":"change","z":"59ed23c.6be93dc","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"max_freq","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":1060,"wires":[["bd9de0cd.ec65","15723bf.59f3ec4"]]},{"id":"dfdcf22a.32834","type":"inject","z":"59ed23c.6be93dc","name":"","props":[{"p":"payload"}],"repeat":"2","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"config_sync","payloadType":"global","x":130,"y":700,"wires":[["44777c20.2a0124"]]},{"id":"61e19c8d.e4e874","type":"inject","z":"59ed23c.6be93dc","name":"","props":[{"p":"payload"}],"repeat":"2","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"cloud","payloadType":"global","x":110,"y":760,"wires":[["8826ff1f.671d9"]]},{"id":"c4687779.44e918","type":"inject","z":"59ed23c.6be93dc","name":"","props":[{"p":"payload"}],"repeat":"2","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"local","payloadType":"global","x":110,"y":820,"wires":[["db3c662e.ffc9d8"]]},{"id":"7a6f634e.999c8c","type":"inject","z":"59ed23c.6be93dc","name":"","props":[{"p":"payload"}],"repeat":"2","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"msg_alert","payloadType":"global","x":130,"y":900,"wires":[["f174cfbc.28745"]]},{"id":"b9be7a00.a54c18","type":"inject","z":"59ed23c.6be93dc","name":"","props":[{"p":"payload"}],"repeat":"2","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"powersave","payloadType":"global","x":130,"y":1000,"wires":[["435451cb.eb74"]]},{"id":"debe7b4a.1f3af8","type":"inject","z":"59ed23c.6be93dc","name":"","props":[{"p":"payload"}],"repeat":"2","crontab":"","once":true,"onceDelay":"0.1","topic":"","payload":"auto_freq","payloadType":"global","x":130,"y":1120,"wires":[["bc39da75.2c2fa8"]]},{"id":"96f57be4.539cb8","type":"inject","z":"59ed23c.6be93dc","name":"","props":[{"p":"payload"}],"repeat":"2","crontab":"","once":true,"onceDelay":"0.1","topic":"","payload":"max_freq","payloadType":"global","x":130,"y":1200,"wires":[["32d13658.d3b4da"]]},{"id":"a61abf74.dd5f5","type":"change","z":"59ed23c.6be93dc","name":"","rules":[{"t":"set","p":"powersave","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":1060,"wires":[[]]},{"id":"5b2ac7df.70dd38","type":"change","z":"59ed23c.6be93dc","name":"","rules":[{"t":"set","p":"auto_freq","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":1100,"wires":[[]]},{"id":"15723bf.59f3ec4","type":"change","z":"59ed23c.6be93dc","name":"","rules":[{"t":"set","p":"max_freq","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":1140,"wires":[[]]},{"id":"ab465874.16a658","type":"debug","z":"59ed23c.6be93dc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":830,"y":940,"wires":[]},{"id":"1b486619.3d4c9a","type":"ui_slider","z":"59ed23c.6be93dc","name":"","label":"Time interval","tooltip":"Minutes ","group":"b99e5875.207a88","order":2,"width":"7","height":"1","passthru":true,"outs":"all","topic":"time_interval","topicType":"str","min":"1","max":"60","step":"1","x":430,"y":1300,"wires":[["2235029.33a79fe","bd9de0cd.ec65","44ce63ed.d4058c"]]},{"id":"58ab9178.7cca2","type":"inject","z":"59ed23c.6be93dc","name":"","props":[{"p":"payload"}],"repeat":"2","crontab":"","once":true,"onceDelay":"0.1","topic":"","payload":"time_interval","payloadType":"global","x":220,"y":1300,"wires":[["1b486619.3d4c9a"]]},{"id":"2235029.33a79fe","type":"change","z":"59ed23c.6be93dc","name":"","rules":[{"t":"set","p":"time_interval","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":1360,"wires":[[]]},{"id":"44ce63ed.d4058c","type":"ui_text","z":"59ed23c.6be93dc","group":"b99e5875.207a88","order":3,"width":1,"height":1,"name":"Time interval text","label":"","format":"{{msg.payload}}","layout":"row-spread","x":680,"y":1300,"wires":[]},{"id":"d8bbdc9c.c91cb","type":"mqtt in","z":"59ed23c.6be93dc","name":"","topic":"counting-rate","qos":"2","datatype":"auto","broker":"d588a38f.2e627","x":170,"y":20,"wires":[["14a973b8.23b6cc"]]},{"id":"14a973b8.23b6cc","type":"ui_text","z":"59ed23c.6be93dc","group":"912c465f.648288","order":5,"width":9,"height":1,"name":"","label":"Counting rate","format":"{{msg.payload}}","layout":"row-spread","x":390,"y":34,"wires":[]},{"id":"2a1c1e78.965462","type":"mqtt in","z":"59ed23c.6be93dc","name":"","topic":"time","qos":"2","datatype":"auto","broker":"d588a38f.2e627","x":170,"y":440,"wires":[["b43c9a1a.86fe18"]]},{"id":"b43c9a1a.86fe18","type":"ui_text","z":"59ed23c.6be93dc","group":"912c465f.648288","order":4,"width":9,"height":1,"name":"","label":"Total time","format":"{{msg.payload}} sec","layout":"row-spread","x":320,"y":460,"wires":[]},{"id":"c307d325.00fed","type":"mqtt in","z":"59ed23c.6be93dc","name":"","topic":"freq","qos":"2","datatype":"auto","broker":"d588a38f.2e627","x":610,"y":200,"wires":[["b73eddd1.1ef6e"]]},{"id":"b73eddd1.1ef6e","type":"ui_text","z":"59ed23c.6be93dc","group":"a22c8e13.1998d","order":3,"width":0,"height":0,"name":"","label":"Frequency ","format":"{{msg.payload}} MHz","layout":"row-spread","x":730,"y":260,"wires":[]}]